@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1c1e22;
  --gray: #646b77;
  --light-gray: #e1e3e6;
  --extra-light-gray: #f6f7f8;
  --white: #ffffff;

  --blue: #1e6ff8;
  --red: #f94b31;
  --green: #54d506;

  --line-height: 1.5rem;
  line-height: var(--line-height);

  --4-3: max(0px, 100vw - 400vh/3);

  color: var(--black);

  /* Tabler icons */
  --tblr-font-sans-serif: 'Inter';
}

.card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-auto-flow: row;
  grid-template-areas:
    'card-title card-photo'
    'card-sub   card-photo'
    'card-para  card-photo'
    'card-span  card-span';
}

.card-title {
  grid-area: card-title;
}

.card-sub {
  grid-area: card-sub;
}

.card-para {
  grid-area: card-para;
}

.card-photo {
  grid-area: card-photo;
}

.card-span {
  grid-area: card-span;
  margin-top: 0.25rem;
}
